body {
    padding-top: 50px;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: "montserrat", Arial, Helvetica, sans-serif;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    width: 100%;
    text-align: center;
}

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

#qrCode {
    margin: 15px;
}

@media screen and (max-width: 767px) {
    .carousel-caption {
        display: none;
    }
}
