@{
    ViewData["Title"] = "Business";
}

<div class="row">
    <h1>Okta Integration Demo</h1>
</div>

<div class="row">
    <h2>Main Web</h2>
</div>

<div class="row">
    <img src="~/images/amazon-logo.jpg" />
</div>
